@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

:root {
  --branco: #F5F5F5;
  --azul-claro: #2266FF;
  --azul-escuro: #121E36;
  --verde: #79B473;
  --verde-hover: rgba(92, 167, 32, .6);
  --vermelho: #F24236;
  --preto: rgba(22, 22, 22, 1);
  --cinza: rgba(165, 161, 161, 1);
  --cinza-claro: #f9f9f9;

  --shadow-hover: rgba(0, 0, 0, .3);
  --border-light-gray: rgba(22, 22, 22, .08);

  --bg-header: var(--azul-claro);
  --bg-body: var(--branco);
  --bg-footer: var(--cinza-claro);
  --bg-btn: var(--branco);
  --bg-btn-hover: var(--azul-escuro);

  --border-radius-sm: 5px;
  --border-radius-md: 15px;

  --font-family-primary: 'Manrope', sans-serif;
  --font-color-primary: var(--branco);
  --font-color-secondary: var(--azul-claro);
  --font-color-text: var(var(--azul-escuro));

  --font-color-header: var(--font-color-primary);
  --btn-font-color: var(--font-color-primary);

  --padding-lateral: 40px;
  --padding-lateral-mobile: 20px;
  --padding-top-header: 70px;
  --margin-sm: 20px;
  --margin-md: 50px;

  --transition: .95s;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--bg-body);
}

::-webkit-scrollbar-track {
  background-color: var(--azul-escuro);
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--branco);
}

::-webkit-scrollbar-thumb {
  background: var(--branco);
}